.tilesView {
  height: calc(100% - 80px);
  flex-grow: 1;
  overflow: scroll;
  position: relative;
  background: #2a3444;
  width: 100%;
}

.tile {
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom;
  width: 260px;
  height: 460px;
  position: absolute;
  cursor: pointer;
  pointer-events: none;
}

.withHover .tileBtn:hover {
  opacity: 1;
}



.tileBtn {
  background: rgba(0, 0, 0, 0.4);
  width: 260px;
  height: 260px;
  display: block;
  transform: translate(0px, 253px) scale(0.7, 0.4) rotate(45deg);
  pointer-events: all;
  will-change: opacity;
  opacity: 0;
  transition: opacity 0.1s;
  position: relative;
}


.tooltip{
  background-color: red;
}

