.tiles-library {
  width: 20%;
  min-width: 120px;
  max-width: 300px;
  flex-grow: 0;
  flex-shrink: 0;
  height: calc(100% - 32px);
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: flex-start;
  background: #444;
}

.tiles-library h1 {
  width: 100%;
  margin: 0;
  padding: 10px;
  background: #222;
  color: #eee;
  font-size: 22px;
  font-weight: 400;
  height: 46px;
}

.tiles-library .tile {
  height: 100px;
  transition: background 0.2s;
  outline: 1px solid red;
  border-radius: 4px;
  cursor: pointer;
}

.tiles-library .tile:hover {
  background: #ffbb0053;
}

.tiles-library .tile .tile-img {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 -43px;
  padding-top: calc(230 / 130 * 100%);
}

.tiles-library .tile.selected {
  background: #ffbc00;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 100%;
  padding: 20px;
}
